body {
  align-items: center;
  background-color: #aaa;
  display: flex;
  height: 100vh;
  justify-content: center;
  margin: 0px;
  padding: 0px;
  width: 100%;
}

#content-container {
  background-color: #00dbff;
  border-radius: 10%;
  display: flex;
  height: 80%;
  margin-right: 5%;
  width: 55%;
}

form {
  height: 100;
  margin-left: 10%;
  margin-top: 1%; 
  width: 75%;
}

form p {
  font-size: 2.5vh;
  margin-bottom: 0px;
}

.form-input {
  width: 100%;
}

textarea {
  height: 65%;
  margin-bottom: 0px;
}
