body {
  align-items: center;
  background-color: #aaa;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0;
  padding: 0;
}

#layout-container{
  display: flex;
  flex-direction: row;
  height: 70vh;
  justify-content: space-between;
  width: 100vw;
}

#nav-container{
  align-items: center;
  color: #000;
  display: flex;
  height: 100%;
  justify-content: center; 
  width: 10%;
  border: none;
}

#nav-bar li {
  align-items: center;
  background-color: #f00;
  color: #fff;
  display: flex;
  height: 12vh;
  justify-content: center;
}

#nav-bar li:hover {
  background-color: white;
  color:red;
}

#content-container{
  align-items: center;
  background:#00dbff;
  border-radius: 5%;
  height: 100%;
  justify-content: center;
  width: 60%;
    
}

.icon {
  border: none;
  margin-left: 1%;
  height: 24px;
  width: 24px;
}

.selfies{
  height: 38%;
  width: 25%;
}


#comment-container{
  border-radius: 5%;
  height: 100%;
  opacity: .75;
  width: 20%;
}

.submit-button {
  background-color: #fff;
  border-color: #f00;
  color: #f00;   
}

#comments {
  height: 80%;
  overflow-y: scroll;
}

form {
  padding: 0px;
}
